@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
}
body {
  overflow: hidden;
}
#title {
  background-color: #ddd;
  font-family: "poppins";
  padding: 100px;
}
#title h1 {
  font-size: 3.5rem;
}
#chartcontainer {
  height: 60vh;
  /* background-color: red; */
  padding: 1rem;
}
